<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" href="../../static/styles/style.css">


    <title>Create Publisher</title>
</head>
<body>
<div class="container">
    <h1>Publisher Form</h1>
    <br>
    <form action="#" th:action="@{/create/publisher}" th:object="${publisherForm}" method="post">
        <div class="form-block">
            <label>Publisher Name: <input type="text" th:field="*{name}"/></label>
        </div>
        <div class="form-block">
            <label>Website: <input type="text" th:field="*{website}"/></label>
        </div>
        <div class="form-block">
            <label><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></label>
        </div>
    </form>
</div>
</body>
</html>