/* CREATE LINKS */

.create-links__section {
    width: 70%;
    margin: 2rem auto;
}

.create-links__list {
    display: flex;
}

.create-links__item {
    margin-right: 2rem;
}

/* TABLE */

.table-section {
    width: 70%;
    margin: 2rem auto;
}

.book-table {
    width: 100%;
}

.book-table__body td:nth-child(2),
.book-table__body td:nth-child(3),
.book-table__body td:nth-child(4) {
    text-align: left;
}

.book-table__body > tr:nth-child(odd) {
    background-color: #fdf7e2;
}

.book-table__row {
    border-bottom: 1px solid #e3e6e8;
}

.book-table__row > td {
    padding: 0.5rem;
}

.pagination {
    display: flex;
    padding-left: 1rem;
    margin: 1.5rem 0;
}

.page-item {
    margin-right: 1.5rem;
}
