@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

thead {
    background: rgb(199, 199, 199);
}

th {
    text-align: center;
}

td {
    text-align: center;
}

/* HEADER */

.main-header {
    background-color: #f8f9f9;
    position: sticky;
    top: 0;
    left: 0;
}

.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

.main-heading {
    font-size: 1.5rem;
}

.main-heading > a {
    color: black;
}

.main-nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item > a {
    color: black;
}

.main-nav__item--searchinput {
    width: 30rem;
    height: 2rem;
}

/* FOOTER  */

.main-footer {
    background-color: #232629;
}

.main-footer__container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;
}

.main-footer__items {
    padding: 0;
}

.main-footer__items:nth-child(2),
.main-footer__items:nth-child(3) {
    text-align: right;
}

.main-footer__item {
    padding-bottom: 0.5rem;
}

.main-footer__item--heading {
    margin: 0;
}

.main-footer__item--heading > a {
    color: #babfc4;
}

.main-footer__item > a {
    color: #838c95;
}

address > p,
address a {
    margin: 0;
    padding-bottom: 0.5rem;
    color: #838c95;
}

#copyright {
    text-align: center;
    color: #babfc4;
    padding-bottom: 3rem;
    margin: 0;
}
