<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/styles/shared.css}"/>
    <link rel="stylesheet" th:href="@{/styles/error/404.css}"/>

    <title>Welcome to the Library!</title>
</head>
<body>
<header class="main-header">
    <div class="main-header__container">
        <h1 class="main-heading"><a th:href="@{/}">LibApp</a></h1>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item"><a href="#">About</a></li>
                <li class="main-nav__item"><a href="#">Contact</a></li>
                <li class="main-nav__item">
                    <form
                            class="main-nav__item--searchform"
                            role="search"
                    >
                        <input
                                class="main-nav__item--searchinput"
                                type="search"
                                name="book"
                                placeholder="Enter a book name"
                                aria-label="Enter a book name"
                        />
                    </form>
                </li>
                <li class="main-nav__item"><a href="#">Log in</a></li>
                <li class="main-nav__item"><a href="#">Sign up</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="error-section">
        <h1 class="error-code">404 - Not Found!</h1>
        <p class="error-message">
            Oops, seems like there is no such page with that link...
        </p>
    </section>
</main>
<footer class="main-footer">
    <div class="main-footer__container">
        <ul class="main-footer__items">
            <li class="main-footer__item">
                <h1 class="main-footer__item--heading">
                    <a th:href="@{/}">LibApp</a>
                </h1>
            </li>
            <li class="main-footer__item">
                <address>
                    <p>
                        <a href="mailto:support@lib.com"
                        >support@lib.com</a
                        >
                    </p>
                    <p>
                        <a href="tel:+9941234567891"
                        >+994 (123) 456-78-91</a
                        >
                    </p>

                    <p>331 E Evelyn Ave Mountain View, CA 94041 USA</p>
                </address>
            </li>
        </ul>
        <ul class="main-footer__items">
            <li class="main-footer__item"><a href="#">About</a></li>
            <li class="main-footer__item">
                <a href="#">Terms and Conditions</a>
            </li>
            <li class="main-footer__item">
                <a href="#">Contact us</a>
            </li>
            <li class="main-footer__item"><a href="#">Careers</a></li>
        </ul>
        <ul class="main-footer__items">
            <li class="main-footer__item"><a href="#">Facebook</a></li>
            <li class="main-footer__item"><a href="#">Twitter</a></li>
            <li class="main-footer__item"><a href="#">Linkedin</a></li>
            <li class="main-footer__item"><a href="#">Instagram</a></li>
        </ul>
    </div>
    <p id="copyright">&copy; 2022 NoOne. No rights reserved.</p>
</footer>
</body>
</html>
