* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #444;
    font-family: sans-serif;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


ul {
    list-style-type: none;
}

li {
    margin: 50px;
}

.form-block {
    margin-bottom: 20px;
}
